{% extends "base.html" %}
{% block content %}

{% import "macros/forms.html" as forms %}

<h1>Edit poster's info</h1>

<form method="post" action="{{base_path}}/edit_poster/{{attributes.id}}">
    <div class="form-group">
      <label>Name</label>
      <p>(Name should only contain characters a-ö and should be 3-50 characters long)</p>
      <input type="text" class="form-control" name = "name" value="{{attributes.name}}">
    </div>
    <div class="form-group">
      <label>Artist</label>
      <p>(Artist name should contain only characters a-ö and should be 5-50 characters long)</p>
      <input type="text" class="form-control" name ="artist" value="{{attributes.artist}}">
    </div>
    <div class="form-group">
      <label>Price</label>
      <p>(Price should be a whole number and at most 1000000)</p>
      <input type="text" class="form-control" name ="price" value="{{attributes.price}}">
    </div>
    <div class="form-group">
      <label>Location</label>
      <p>(Location should only contain characters a-ö and should be 5-50 characters long)</p>
      <input type="text" class="form-control" name = "location" value="{{attributes.location}}">
    </div>
    <div class="form-group">
      <label>Height</label>
      <p>(Height should be a whole number and at most 10000)</p>
      <input type="text" class="form-control" name = "height" value="{{attributes.height}}">
    </div>
    <div class="form-group">
      <label>Width</label>
      <p>(Width should be a whole number and at most 10000)</p>
      <input type="text" class="form-control" name = "width" value="{{attributes.width}}">
    </div>
    <div class="form-group">
        <label>Category</label>
        <select class="form-control" name="categories[]" multiple="">
            {% for category in categories %}
            <option value="{{category.name}}" {% if category.name in posterCategoryNames %} selected {% endif %} >{{category.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
    <div></div>
</form>

{{forms.destroy_button("#{base_path}/edit_poster/#{attributes.id}/destroy")}}

{% endblock %}