{% extends "base.html" %}
{% block content %}

{% if posters is empty %}

<p class="text-center">Unfortunately no one is selling posters at the moment</p>

{% else %}

<h1>Posters</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Artist</th>
            <th>Price (€)</th>
            <th>Location</th>
            <th>Publisher</th>
            <th>Height (cm)</th>
            <th>Width (cm)</th>
            <th>Category</th>

            {% if user_logged_in %}
            <th></th>
            {% endif %}
        </tr>
    </thead>

    <tbody>

        {% for poster in posters %}

        <tr>
            <td><img height="200" src="{{base_path}}/image/{{poster.id}}"/></td>
            <td><a href="{{base_path}}/posters/{{poster.id}}">{{poster.name}}</td>
            <td>{{poster.artist}}</td>
            <td>{{poster.price}}</td>
            <td>{{poster.location}}</td>
            <td><a href="{{base_path}}/users_posters/{{poster.publisher}}">{{poster.publisherName}}</td>
            <td>{{poster.height}}</td>
            <td>{{poster.width}}</td>


            <td>
                {% for category in poster.categories|slice(0,5) %}
                {{category.name}} 
                {% endfor %}
            </td>

            {% if user_logged_in %}
            <th><form method="post" action="{{base_path}}/shopping_bag/add">
                    <input type="hidden" name="posterId" value="{{poster.id}}" />
                    <button type="submit" class="btn btn-default btn-sm">Add to shopping bag</button></form></th>
            {% endif %}        

        </tr>

        {% endfor %}
    </tbody>
</table>

{% endif %}

{% endblock %}