{% extends "base.html" %}
{% block content %}

<p>
    <a href="{{base_path}}/edit_account" class="btn btn-primary">My account information</a>
    <a href="{{base_path}}/orders" class="btn btn-primary">My orders</a>
    <a href="{{base_path}}/sales" class="btn btn-primary">My sales</a>
</p>
<p></p>

<h1>My posters</h1>

<p>
    <a href="{{base_path}}/account/new_poster" class="btn btn-success">Add a poster</a>
</p>
<p></p>

<h2>Unsold posters</h2>

{% if posters is empty %}

<p>No unsold posters</p>
<p></p>

{% else %}

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Artist</th>
            <th>Price (€)</th>
            <th>Location</th>
            <th>Publisher</th>
            <th>Height (cm)</th>
            <th>Width (cm)</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        {% for poster in posters %}

        <tr>
            <td><img height="200" src="{{base_path}}/image/{{poster.id}}"/></td>
            <td>{{poster.name}}</td>
            <td>{{poster.artist}}</td>
            <td>{{poster.price}}</td>
            <td>{{poster.location}}</td>
            <td><a href="{{base_path}}/users_posters/{{poster.publisher}}">{{poster.publisherName}}</a></td>
            <td>{{poster.height}}</td>
            <td>{{poster.width}}</td>
            <td>
                {% for category in poster.categories|slice(0,5) %}
                <p><mark>{{category.name}}</mark></p> 
                {% endfor %}
            </td>
            <th><a class="btn btn-default btn-sm" href="{{base_path}}/edit_poster/{{poster.id}}">Edit poster</a></th> 
        </tr>

        {% endfor %}
        
    </tbody>
</table>

{% endif %} 

{% endblock %}