{% extends "base.html" %}
{% block content %}

<p class="text-left">Link to my info</p>
<p class="text-left">Link to adding new posters to sell</p>
<p class="text-left">Link to the posters i'm selling</p>
<p class="text-left">Link to current orders</p>

<h1>My posters</h1>

<p>
    <a href="{{base_path}}/account/new_poster" class="btn btn-success">Add a poster</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Artist</th>
            <th>Price (€)</th>
            <th>Location</th>
            <th>Publisher</th>
            <th>Height (cm)</th>
            <th>Width (cm)</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        {% for poster in posters %}

        {% if poster.sold %}
        {% else %}

        <tr>
            <td>{{poster.image}}</td>
            <td><a href="{{base_path}}/posters/{{poster.name}}">{{poster.name}}</td>
            <td>{{poster.artist}}</td>
            <td>{{poster.price}}</td>
            <td>{{poster.location}}</td>
            <td><a href="{{base_path}}/posters/{{poster.publisher}}">{{poster.publisher}}</a></td>
            <td>{{poster.height}}</td>
            <td>{{poster.width}}</td>
            <td></td>
            <th><a class="btn btn-default btn-sm" href="#">Add to shopping bag</a></th>
        </tr>
        {% endif %}

        {% endfor %}
    </tbody>
</table>

{% endblock %}