{% extends "base.html" %}
{% block content %}
<p class="text-center">Welcome to Poster Shop online store!</p>
<p class="text-center">Create an account and start selling and buying unique 
    posters from users all over Finland.</p>
<p class="text-center">Check out the posters from the top catalogue.</p>


<h1>Top sellers</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>User (sold posters)</th>
        </tr>
    </thead>
    <tbody>
        
        {% for topSeller in topSellers %} 
        
        <tr>
            <td><a href="{{base_path}}/users_posters/{{topSeller.publisher.id}}">{{topSeller.publisher.name}} ({{topSeller.amount}})</td>
        </tr>
        
        {% endfor %}
        
    </tbody>
</table>


{% endblock %}